<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CRUD TESTING</title>
</head>
<body>
	<p> Framework for whatever you want to do can go here for the application. If you can see this, this means that my EJS template engine has been imported properly. </p>
	<p> This is a basic form that allows you to submit input values and handle reading them, I just made an arbitrary form and name but we can change this to literally anything you want it to do. </p>

	  <ul class="trips">
	  <% for(var i=0; i<trips.length; i++) {%>
	    <li class="trip">
	      <span><%= trips[i].trip %></span>
	      <span><%= trips[i].location %></span>
	    </li>
	  <% } %>
	  </ul>

 	  <form action="/trips" method="POST"> 
	  <input type="text" placeholder="Name of Trip" name="trip">
	  <input type="text" placeholder="Location" name="location">	  	
	  <button type="submit">Submit</button>
  </form>

  <div>
  <h2>This will replace the last Trip with your updated values instead. </h2>
  <button id="update"> Replace the last trip / Update! </button>
</div>


</body>

<script src="main.js"></script>
</html>