<!DOCTYPE html>
<html>
<head>
  <title>Travel Diary</title>
  <meta charset="utf-8" />
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.36.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.36.0/mapbox-gl.css' rel='stylesheet' />
    <link href="./css/index.css" rel="stylesheet"/>
    <script src="js/medium-editor.js"></script>
</head>
<body>
  <div class="" id="textwindow">
    {{#each quotes}}
    <p1>Name</p1>
    <textarea id="title" class="editable" name="name" form="saveme">{{name}}</textarea>
    <p1>Quote</p1>
    <textarea id="title" class="editable" name="quote" form="saveme">{{quote}}</textarea>

    <form action="/save" method="POST" id="saveme" autocomplete="off">
      <button type="submit">Save</button>
    </form>
    {{/each}}
  </div>
  <div id="addmap">
    <div id="log">

    </div>
    <div class="editable"></div>
    <div class="editable">
      <input type="text" placeholder="whatever"/>
    </div>
<script>var editor = new MediumEditor('.editable');</script>
    <div id="destlist" class="header">
      Destinations
      <input type="text" id="myInput" placeholder="Your next destination...">
      <div onclick="newDest()" class="addBtn">Add</div>
      <ul class="dests card" id="id_dest">
      </ul>
    </div>
    <div id='map'></div>
  </div>
  <!-- <div id='map' style='width: 500px; height: 500px;'></div> -->

  <div id='newmarker' class="newmarker" style="width:25px; height:25px; border-radius: 50%;"> </div>


  <script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoiemh1eW1hbyIsImEiOiJjajFvbjB2NTAwMTVtMzJtaGkwc2N1dW0zIn0.tNPQ9yER6BTqqrBaUi3T2A';
    var library = [-117.2362022, 32.88]
    var mapping = new mapboxgl.Map({
    container: 'map',
    zoom: '12',
    center: library,
    // streets-v9, outdoors-v9, light-v9, dark-v9, satellite-v9, satellite-streets-v9
    style: 'mapbox://styles/mapbox/streets-v9'
    });

    mapping.addControl(new mapboxgl.NavigationControl());
    var popup = new mapboxgl.Popup({offset: 0})
      .setText("Geisel");
    var marker = new mapboxgl.Marker(newmarker,{offset:[-25,0]})
    .setLngLat(library)
    .setPopup(popup)
    .addTo(mapping);
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="./js/jquery.ajax-cross-origin.min.js"></script>
  <script src="/js/index.js"></script>
  <script src="./js/html.sortable.min.js"></script>
  <script src="./js/turf.min.js"></script>
  <!-- <script src="js/medium-editor.js"></script> -->
<link rel="stylesheet" href="css/medium-editor.css">
<link rel="stylesheet" href="css/themes/default.css">

</body>
</html>
