<!DOCTYPE html>
<html>
<head>
  <title>Travel Diary</title>
  <meta charset="utf-8" />
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="./css/index.css" rel="stylesheet"/>
    <script src="js/medium-editor.js"></script>
    <script src="/js/jquery-3.2.1.js"></script>
    <script src="/js/index.js"></script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVX-hvAGl21JA0nBii3fNYTyec2SOKLqw&libraries=places&callback=initMap">
    </script>
</head>
<body>
  <form method="post" enctype="multipart/form-data" action="/">
    <input type="text" name="title" placeholder="title" />
    <input type="file" name="upl" />
    <button type="submit">Submit</button>
  </form>
  <div class="" id="textwindow">
    <ul>
      {{#each quotes}}
        <li>
          {{{name}}} {{{quote}}}
        </li>
      {{/each}}
    </ul>
    <form action="/edit" method="GET">
      <button>Edit</button>
    </form>
    <form action="/add" method="POST" autocomplete="off">
      <!-- <input type="hidden" name="blog1"/> -->
      <input type="text" placeholder="name" name="name">
      <input type="text" placeholder="quote" name="quote">
      <button type="submit">Submit</button>
    </form>
  </div>

  <div id="addmap">

    <div id="destlist" class="header">

      <!-- input place for autocomplete address -->
      <div class="pac-card" id="pac-card">
        <div id="title">
          Enter your next destinations
        </div>
        <div id="pac-container">
          <input type="text" id="pac-input" placeholder="Your next destination...">
        </div>
      </div>
      <p4>Destinations</p4>
      <div onclick="newDest()" class="addBtn">Add</div>
      <ul class="place-cards" id="place-cards">
      </ul>
    </div>
    <div id='map'></div>

  </div>
  <!-- <div id='map' style='width: 500px; height: 500px;'></div> -->

  <!-- <script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoiemh1eW1hbyIsImEiOiJjajFvbjB2NTAwMTVtMzJtaGkwc2N1dW0zIn0.tNPQ9yER6BTqqrBaUi3T2A';
    var library = [-117.2362022, 32.88]
    var mapping = new mapboxgl.Map({
    container: 'map',
    zoom: '12',
    center: library,
    // streets-v9, outdoors-v9, light-v9, dark-v9, satellite-v9, satellite-streets-v9
    style: 'mapbox://styles/mapbox/streets-v9'
    });

    mapping.addControl(new mapboxgl.NavigationControl());
    var popup = new mapboxgl.Popup({offset: 0})
      .setText("Geisel");
    var marker = new mapboxgl.Marker(newmarker,{offset:[-25,0]})
    .setLngLat(library)
    .setPopup(popup)
    .addTo(mapping);
  </script> -->

  <!-- <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVX-hvAGl21JA0nBii3fNYTyec2SOKLqw&libraries=places&callback=initMap">
  </script> -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
  <!-- <script src="./js/jquery.ajax-cross-origin.min.js"></script> -->
  <!-- <script src="/js/index.js"></script> -->
  <script src="./js/Sortable.js"></script>
  <script src="./js/turf.min.js"></script>
  <!-- <script src="js/medium-editor.js"></script> -->
<link rel="stylesheet" href="css/medium-editor.css">
<link rel="stylesheet" href="css/themes/default.css">

</body>
</html>
