body {
  background-color: #F8F8F8;
}

#first-slide {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%
}
.font-ftg {
  font-family: 'Fredericka the Great', cursive;
}
.navbar-brand {
  font-size: 25px;
  color: #073059;
}
.align-right {
  text-align: right;
}

/*#textwindow {
  width: 48%;
  display: inline-block;
  font-size: 20px;
}*/
.float-right {
  float: right;
}
.place-icon {
/*  width: 12px;
  height: 12px;
  margin: 5px;*/
  display: none;
}

.place-cards {
  list-style-type: none;
}
.place-cards li {
  counter-increment: step-counter;
  position: relative;
  padding-bottom: 5px;
}
.place-cards li::before {
  content: counter(step-counter, upper-alpha);
  position: absolute;
  left: 0;
  top: 0;
  font-weight: bold;
  font-size: 150%;
  color: black;
  margin-bottom: 25px;
  left: -40px;
  border: 1px solid black;
  border-radius: 50%;
  padding: 0 8px;
}
.place-name {
  font-weight: bold;
}
.place-address {
  color: #B2B2B2;
}

/*new CSS for the Google Maps API*/
#pac-input {
  background-color: #fff;
  /*margin-left: 12px;*/
  padding: 0 11px 0 13px;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  width: 100%;
}
#pac-input:focus {
  border-color: #4d90fe;
}
.infowindow-content .title {
  font-weight: bold;
}

.infowindow-content {
  display: none;
}
li .infowindow-content {
  display: inline;
}
#map .infowindow-content {
  display: inline;
}


.item {
  .transition(0);
}
.carousel-caption {
  top: 24%;
}

.navbar-inverse {
     background-color: #F8F8F8 ;
     border-color: transparent;
}
.padding-left-zero {
  padding-left: 0;
}
.blog-sidebar {
  padding-right: 25px;
}
#navbar ul li a, .color-white {
  color: #F8F8F8;
}
#destlist {
  width: 100%;
  display: inline-block;
}
.card li {

  line-height: 3rem;
  width: 99%;
  border: 0px solid #C4C4C4;
  color: #F8F8F8;
  background-color: #60b01a;
  border-radius: 2px;
  height: 35px;
  margin: 2px;
  font-size: 17px;
  font-family: monospace;
  text-align: center;
  padding-bottom: 5px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #B2B2B2;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #B2B2B2;
}
input {
  border-radius: 2px;
  border: 0.5px solid #898989;
/* border-style: none; */
  /*width: 80%;*/
  line-height: 3rem;
  height: 35px;
}
ul {
  -webkit-margin-before: 0;
  -webkit-padding-start: 0;
}
#addmap {
  margin-left: auto;
  margin-right: auto;
  /*width: 48%;*/
  height: 400px;
  position: absolute;
  display: inline-block;
}
#map {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.newmarker {
  /*background-image: url('https://www.mapbox.com/mapbox-gl-js/assets/washington-monument.jpg');*/

  /*background-size: cover;*/
  background-color: #888;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

/*test*/
#search {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
}
#label {
    width: 60px;
    height: 60px;
    position: relative;
    z-index: 20;
}
#label label {
    display: block;
    width: 60px;
    height: 60px;
    background: url("../img/search.png") 0 0;
    font-size: 0;
    color: rgba(0, 0, 0, 0);
    text-indent: -9999px;
    cursor: pointer;
}
#label label:hover {
    background: url("../img/search.png") -60px 0
}
#label.active label {
    background: url("../img/search.png") -60px 0
}
#input {
    position: absolute;
    top: 0;
    left: 60px;
    width: 450px;
    height: 60px;
    z-index: 5;
    overflow: hidden;
}
#input input {
    display: block;
    position: absolute;
    top: 0;
    left: -450px;
    width: 450px;
    height: 100%;
    margin: 0;
    padding: 0 10px;
    border: none;
    background-color: #23688b;
    color: #fff;
    font-size: 18px;
    backface-visibility: none;
    border-radius: 0;
    transition: left 0;
}
#input input:focus {
    outline: none
}
#input.focus {
    z-index: 20
}
#input.focus input {
    left: 0;
    transition: left 0.3s;
}
